body {
  margin: 0px;
  font-family: "Nunito";
  box-sizing: border-box;
}

.stepper {
  width: 100vw;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.progress {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 26px;
}
.progress .ball-name,
.progress .bar,
.progress .ball {
  transition: 0.4s all;
}
.progress .ball-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress .ball-name {
  margin-right: 10px;
  color: #cbcbcb;
}
.progress .ball {
  display: block;
  width: 32px;
  height: 32px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}
.progress .bar {
  width: 4px;
  height: 152px;
  margin-right: 14px;
}
.progress .ball,
.progress .bar {
  background: #cbcbcb;
}

.cards-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
}
.cards-wrapper .card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.cards-wrapper .card input {
  margin-bottom: 20px;
  font-size: 13px;
  color: #808080;
}
.cards-wrapper .card input,
.cards-wrapper .card button {
  display: block;
  width: 250px;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.18);
  letter-spacing: 1.5px;
}
.cards-wrapper .card button {
  font-size: 13px;
  color: white;
  cursor: pointer;
}
.cards-wrapper .card#email {
  box-shadow: 6px 6px 40px #ffcbcb;
  background-image: linear-gradient(135deg, #ffefef, #ffbca8);
}
.cards-wrapper .card#email button {
  background: #e67654;
}
.cards-wrapper .card#password {
  box-shadow: 6px 6px 40px #b7b7ff;
  background-image: linear-gradient(135deg, #dbdbff, #937afd);
}
.cards-wrapper .card#password button {
  background: #625cff;
}
.cards-wrapper .card#submit {
  box-shadow: 6px 6px 40px #ffcbcb;
  background-image: linear-gradient(135deg, #ffefef, #ff9db0);
}
.cards-wrapper .card#submit button {
  background: #ff5f5f;
}
.cards-wrapper .card#thankyou {
  box-shadow: 6px 6px 40px #87de73;
  background-image: linear-gradient(135deg, #a0e590, #55cc83);
}
.cards-wrapper .card#thankyou p {
  font-size: 18px;
  color: white;
}

.stepper.state-email .progress .ball-wrapper.email .ball-name {
  color: #9e9aff;
}
.stepper.state-email .progress .ball-wrapper.email .ball {
  background: #9e9aff;
}

.stepper.state-password .progress .ball-wrapper.email .ball-name,
.stepper.state-password .progress .ball-wrapper.password .ball-name {
  color: #9e9aff;
}
.stepper.state-password .progress .ball-wrapper.email .ball,
.stepper.state-password .progress .ball-wrapper.password .ball {
  background: #9e9aff;
}
.stepper.state-password .progress .bar.password {
  background: #9e9aff;
}

.stepper.state-submit .progress .ball-wrapper.email .ball-name,
.stepper.state-submit .progress .ball-wrapper.password .ball-name,
.stepper.state-submit .progress .ball-wrapper.submit .ball-name {
  color: #9e9aff;
}
.stepper.state-submit .progress .ball-wrapper.email .ball,
.stepper.state-submit .progress .ball-wrapper.password .ball,
.stepper.state-submit .progress .ball-wrapper.submit .ball {
  background: #9e9aff;
}
.stepper.state-submit .progress .bar.password,
.stepper.state-submit .progress .bar.submit {
  background: #9e9aff;
}

.stepper.state-thankyou .progress .ball-wrapper.email .ball-name,
.stepper.state-thankyou .progress .ball-wrapper.password .ball-name,
.stepper.state-thankyou .progress .ball-wrapper.submit .ball-name {
  color: #57d06d;
}
.stepper.state-thankyou .progress .ball-wrapper.email .ball,
.stepper.state-thankyou .progress .ball-wrapper.password .ball,
.stepper.state-thankyou .progress .ball-wrapper.submit .ball {
  background: #57d06d;
}
.stepper.state-thankyou .progress .bar.password,
.stepper.state-thankyou .progress .bar.submit {
  background: #57d06d;
}

.stepper.state-email #email {
  display: flex;
}
.stepper.state-email #password {
  display: none;
}
.stepper.state-email #submit {
  display: none;
}
.stepper.state-email #thankyou {
  display: none;
}

.stepper.state-password #email {
  display: none;
}
.stepper.state-password #password {
  display: flex;
}
.stepper.state-password #submit {
  display: none;
}
.stepper.state-password #thankyou {
  display: none;
}

.stepper.state-submit #email {
  display: none;
}
.stepper.state-submit #password {
  display: none;
}
.stepper.state-submit #submit {
  display: flex;
}
.stepper.state-submit #thankyou {
  display: none;
}

.stepper.state-thankyou #email {
  display: none;
}
.stepper.state-thankyou #password {
  display: none;
}
.stepper.state-thankyou #submit {
  display: none;
}
.stepper.state-thankyou #thankyou {
  display: flex;
}
